@import url("https://fonts.googleapis.com/css?family=Acme");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");

body{
	background-color: white;
	margin: 0;
	display: block;
}

.home{

    height: 100vh; 
}


.icon{
	width: 60px;
	height: 60px;
	display: inline-block;
	background-color: blue;
	color: white;
	font-family: 'Comfortaa';
	border-radius: 50%;
	text-align: center;
	vertical-align: top;
	line-height: 60px;
	margin-top: 20px;
	margin-left: 20px
}

.nav{
	font-size: 14px;
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: inline-block;
	text-align: right;

}

.nav ul{
	display: inline-block;
	width: 35%;
	list-style: none;
	text-align: center;
	margin: 0;
	padding-top: 40px;
}

.nav li{
	display: inline-block;
	color: black;
	width: 33%;
	font-family: 'Comfortaa';
}

.main-pic{
	position: absolute;
	width: 50%;
	display: inline-block;
	bottom: 0;
	left: 0;
	padding-top: 16px;
}

.me-pic{
	height: 500px;
}

.name{
	width: 50%;
	display: inline-block;
	position: absolute;
	vertical-align: top;
	right: 100px;
	bottom: 100px;
	padding-top: 100px;
}

.meet{
	margin: 0;
	font-size: 90px;
	vertical-align: top;
	display: inline-block;
	font-family: 'Comfortaa';
	text-align: right;
}

.Chapman{
	margin: 0;
	position: relative;
	vertical-align: top;
	padding-left: 100px;
	font-size: 90px;
	font-family: 'Comfortaa';
	color: blue;
	display: inline-block;
	text-align: right;
}

.about{
	background-color: blue;
}

.about-title{
	margin: 0 auto;
	color: white;
	font-family: 'Comfortaa';
	text-align: center;
	padding-top: 75px;
}

.about-pic{
	width: 200px;
	vertical-align: bottom;
	padding-left: 100px;
	padding-bottom: 200px;
}

.contact{
	height: 100vh;

}

.contact_form{
	height: 100vh;
}

